cache/gu_data_sv.jsonl_results.json
cache/gu_dvrk.jsonl_results.json
database/gu_data_en.jsonl
database/gu_data_sv.jsonl
database/gu_dv_en.jsonl
database/gu_dv_sv.jsonl
database/gu_dvrk.jsonl
database/output.jsonl